<h2>The Serverrrr (NO S) Component</h2>
<!-- String interpolation {{ }} -->
<!--  ngStyle binding to a property that also happens to be names ngStyle-->
<p [ngStyle]="{ backgroundColor: getColor() }" [ngClass]="{online: serverStatus === 'online' }" >{{ 'Server' }} {{ serverName }} with Id {{ serverId }}, status: {{ getServerStatus() }} </p>
<p [ngStyle]="{ backgroundColor: getColor() }" [ngClass]="{online: serverStatus === 'online' }" >{{ 'Server' }} {{ serverName }} with Id {{ serverId }}, status: {{ getServerStatus() }}  </p>
